{% extends 'base.html' %}

{% load static %}

{% block content %}

<img src="{% static 'title.png' %}" class="mx-auto d-block" alt="COR:ONA study">

<p>
How has the pandemic changed our daily life?  What does "normal" even mean now? Take part in a research study on this topic and learn more about yourself and your routines in the process.
</p>

<p>
Covid-19 has given us many challenges, but also provides an unprecedented opportunity for learning! We want to use this opportunity in a research setting to better understand how we adapt to the post-pandemic life and how long it takes for us to build stable routines again.
</p>

<p>
By taking part, you will be loaned a Polar fitness tracker (or may use one you already own), wear it for six months to one year, and answer survey questions once or twice a month. You will need to create your own Polar account for data, but this account stays under your control and the study will only access the data relevant to this study. You may use the account and your own data for your own purposes after the project, or you may close it.
</p>

<p>
You also should be a full-time Aalto employee who doesn't foresee changing jobs in the next year. Taking part in this study (or not) will not affect your employment in any way.
</p>

<p>
Interested to volunteer as a participant or to find out more? Enter your email address and we will send you more information once the enrollment period starts (approximately mid June). By entering your email you are not committed to participate in the study.
</p>

{% endblock %}
