{% extends 'base.html' %}
{% load static %}

{% block content %}

<p>
How has the pandemic changed our daily life?  What does "normal" even mean now? Take part in a research study on this topic and learn more about yourself and your routines in the process.
</p>

<img src="{% static 'polar_ignite.jpeg' %}" class="w-25 img_float_right mx-4 my-1" alt="polar ignite device">

<p>
Covid-19 has given us many challenges, but also provides an unprecedented opportunity for learning! We want to use this opportunity in a research setting to better understand how we adapt to the post-pandemic life and how long it takes for us to build stable routines again.
</p>

<p>
By taking part, you will be loaned a Polar fitness tracker (or may use one you already own), wear it for six months to one year, and answer survey questions once or twice a month. You will need to create your own Polar account for data.
</p>

<p> <b>
You also should be a full-time Aalto employee who doesn't foresee changing jobs in the next year. Taking part in this study (or not) will not affect your employment in any way.
</b> </p>

<p>
This study is currently under review of the ethical  board of the Aalto University.
</p>

<p>
Interested to volunteer as a participant or to find out more? Enter your email address and we will send you more information once the enrollment period starts (approximately mid June). By entering your email you are not committed to participate in the study.
</p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</br>

<p>
(If you would like us to remove your email, please contact us at <a href = "mailto: jarno.rantaharju@aalto.fi">jarno.rantaharju@aalto.fi</a>.)
</p>

<h3>FAQ:</h3>

<dl class="row">
  <dt class="col-sm-3">
    Who controls my Polar account and my data?
  </dt>
  <dd class="col-sm-9">
    The Polar account stays under your control and the study will only access the data relevant to this study. You may use the account and your own data for your own purposes after the project, or you may close it.
  </dd>

  <dt class="col-sm-3">
    What data will be collected with the Polar devices?
  </dt>
  <dd class="col-sm-9">
    We collect data related to your sleep, training and  physical activity (e.g. number of  steps taken). We do not collect your location data. Before you consent to take part of the study you can review the full list of variables that we collect. We will share this information with you.
  </dd>

  <dt class="col-sm-3">
    What other information do you collect?
  </dt>
  <dd class="col-sm-9">
    In the beginning of the study we ask for basic socio-demographic information as well as some questions about your typical habits. Filling out the initial questionnaire should not take more than a few minutes.
    We also send you a questionnaire via email once per month where we ask a few questions about your sleep, stress levels and where (e.g. home or at Aalto) you have worked in the past month.
  </dd>

  <dt class="col-sm-3">
    How can I access my own data?
  </dt>
  <dd class="col-sm-9">
    Due to our data security precautions, it is not easy to access your data from the study database. Instead, you can access it (and more, that we don't collect) from your Polar account.
  </dd>

  <dt class="col-sm-3">
    How often do I have to wear the fitness tracker?
  </dt>
  <dd class="col-sm-9">
    We expect you to wear the device most of the time, even when you are sleeping. But you are free not to use them whenever you decide not to. For the purpose of this study it would be best if you wear them for as much as possible.
  </dd>

  <dt class="col-sm-3">
    How often do I need to recharge the devices and how long does the recharging take?
  </dt>
  <dd class="col-sm-9">
    The device needs to be recharge every few days (depending on the type of your activities this period will be longer or shorter). The recharging takes only around 1 hour.
  </dd>

  <dt class="col-sm-3">
    What happens after I agree to participate in this study?
  </dt>
  <dd class="col-sm-9">
    You will be sent the detailed study information as well as a consent form (all forms will be electronic). After you consent to be part of the study, you will fill out an initial short questionnaire. Will will then mail the fitness tracker to the address you provide (e.g. your home address). Once you receive the device you will set it up and start using the devices with the help of the instructions that you will receive together with the device. We expect the set up to be pretty quick and easy (minimum extra steps as compared to using a fitness tracker outside of a study).
  </dd>

  <dt class="col-sm-3">
    Can I drop out of the study?
  </dt>
  <dd class="col-sm-9">
    You can decide to drop out at any point in time. We will stop collecting and processing any further data from you after you decide to drop out. We do however expect you to return the fitness tracker to us as soon as possible after that.
  </dd>

  <dt class="col-sm-3">
    What will I get for participating in this study?
  </dt>
  <dd class="col-sm-9">
    <p>
    First of all you will be helping this research and we are extremely grateful for that!
    Also, you will learn about your activity and sleep patterns by consulting with the Polar website or app and monitoring the visualization they offer of these variables.
    </p>
    <p>
    In addition to those, we have negotiated a 20-25% discount code with Polar for those participants who complete the study and wish to purchase a similar device to continue using them after the completion of the study.
    </p>
  </dd>

  <dt class="col-sm-3">
    How do I return the device?
  </dt>
  <dd class="col-sm-9">
    We expect campus to be open by the time the study ends, so you can simply drop it off at the reception desk in the CS building, Konemiehentie 2, Espoo or at Aalto Studios, Otakaari 7B.
  </dd>

  <dt class="col-sm-3">
    What if the device is lost / damaged?
  </dt>
  <dd class="col-sm-9">
    We understand that accidents happen.  As long as you have been reasonably careful, you won't be held responsible for the cost.
  </dd>
</dl>

<p><b>Still have questions? Contact us: talayeh.aledavoo@aalto.fi
</b></p>





{% endblock %}
