{% extends 'base.html' %}
{% load static %}

{% block content %}

<h4><a href="/">Back to the Main Page</a></h4>

<h3 class="my-5">Frequently Asked Questions</h3>

<dl class="row">
  <dt class="col-sm-3 my-3">
    Who controls my Polar account and my data?
  </dt>
  <dd class="col-sm-9 my-3">
    The Polar account stays under your control and the study will only access the data relevant to this study. You may use the account and your own data for your own purposes after the project, or you may close it.
  </dd>

  <dt class="col-sm-3 my-3">
    What data will be collected with the Polar devices?
  </dt>
  <dd class="col-sm-9 my-3">
    We collect data related to your sleep, training and  physical activity (e.g. number of  steps taken). We do not collect your location data. Before you consent to take part of the study you can review the full list of variables that we collect. We will share this information with you.
  </dd>

  <dt class="col-sm-3 my-3">
    What other information do you collect?
  </dt>
  <dd class="col-sm-9 my-3">
    In the beginning of the study we ask for basic socio-demographic information as well as some questions about your typical habits, personality and well-being. Filling out the initial questionnaire should not take more than 15-20 minutes.
    We also send you a questionnaire via email once per month where we ask a few questions about your sleep, stress levels and where (e.g. home or at Aalto) you have worked in the past month. We expect this monthly questionnaires to take less than 5 minutes to fill out.
  </dd>

  <dt class="col-sm-3 my-3">
    How can I access my own data?
  </dt>
  <dd class="col-sm-9 my-3">
    Due to our data security precautions, it is not easy to access your data from the study database. Instead, you can access it (and more, that we don't collect) from your Polar account.
  </dd>

  <dt class="col-sm-3 my-3">
    How often do I have to wear the fitness tracker?
  </dt>
  <dd class="col-sm-9 my-3">
    We expect you to wear the device most of the time, even when you are sleeping. But you are free not to use them whenever you decide not to. For the purpose of this study it would be best if you wear them for as much as possible.
  </dd>

  <dt class="col-sm-3 my-3">
    During which activities should I not wear my fitness tracker?
  </dt>
  <dd class="col-sm-9 my-3">
    You should not wear it in the sauna, or during diving with an air tank. Other exposure to water (e.g. swimming and showering) is fine. You should also not wear it for any other acitivy during which wearing a watch could potentially be harmful (e.g. in an MRI scanner).
  </dd>

  <dt class="col-sm-3 my-3">
    How often do I need to recharge the devices and how long does the recharging take?
  </dt>
  <dd class="col-sm-9 my-3">
    The device needs to be recharge every few days (depending on the type of your activities this period will be longer or shorter). The recharging takes only around 1 hour.
  </dd>

  <dt class="col-sm-3 my-3">
    What happens after I agree to participate in this study?
  </dt>
  <dd class="col-sm-9 my-3">
    You will be sent the detailed study information as well as a consent form (all forms will be electronic). After you consent to be part of the study, you will fill out an initial questionnaire. Will will then mail the fitness tracker to the address you provide (e.g. your home address). Once you receive the device you will set it up and start using the devices with the help of the instructions that you will receive together with the device. We expect the set up to be pretty quick and easy (minimum extra steps as compared to using a fitness tracker outside of a study).
  </dd>

  <dt class="col-sm-3 my-3">
    Can I drop out of the study?
  </dt>
  <dd class="col-sm-9 my-3">
    You can decide to drop out at any point in time. We will stop collecting and processing any further data from you after you decide to drop out. We do however expect you to return the fitness tracker to us as soon as possible after that.
  </dd>

  <dt class="col-sm-3 my-3">
    What will I get for participating in this study?
  </dt>
  <dd class="col-sm-9 my-3">
    <p>
    First of all you will be helping this research and we are extremely grateful for that!
    Also, you will learn about your activity and sleep patterns by consulting with the Polar website or app and monitoring the visualization they offer of these variables.
    </p>
    <p>
    In addition to those, we have negotiated a 20-25% discount code with Polar for those participants who complete the study and wish to purchase a similar device to continue using them after the completion of the study.
    </p>
  </dd>

  <dt class="col-sm-3 my-3">
    How do I return the device?
  </dt>
  <dd class="col-sm-9 my-3">
    We expect campus to be open by the time the study ends, so you can simply drop it off at the reception desk in the CS building, Konemiehentie 2, Espoo or at Aalto Studios, Otakaari 7B.
  </dd>

  <dt class="col-sm-3 my-3">
    What if the device is lost / damaged?
  </dt>
  <dd class="col-sm-9 my-3">
    We understand that accidents happen.  As long as you have been reasonably careful, you won't be held responsible for the cost.
  </dd>

  <dt class="col-sm-3 my-3">
    Can I change the writband of my fitness tracker?
  </dt>
  <dd class="col-sm-9 my-3">
    All our fitness trackers come with black wristnbands and in two sizes that you can choose from. Size S is suitable for wrist circumference of 130–185 mm and size M/L is suitable for wrist circumference of 155–210 mm. If you like, you can purchase a wristband in a different color or material for yourself (
    <a href="https://www.polar.com/en/products/accessories#pf7=1">https://www.polar.com/en/products/accessories#pf7=1</a>)
    and use it while you are have our device on loan. However, please keep the original one and return the device with the original wistbnand to us. If you decide to purchase a different wristband, please make sure that it is compatible with the Polar Ignite model.
  </dd>
</dl>


<p class="my-4"><b>Still have questions? Contact us: talayeh.aledavood@aalto.fi
</b></p>

{% endblock %}
