{% extends 'base.html' %}

{% block content %}

<h4><a href="/">Back to the Main Page</a></h4>

<p>
  Thank you for taking part in the study. If you do not receive you Polar
  Ignite sport tracker within a couple of weeks, please contact us check
  if there are any problems.
</p>
<p>

  To use the device, you will need to install the Polar Flow app. The app
  is available on
  <a href="https://play.google.com/store/apps/details?id=fi.polar.polarflow">Android</a>
  and on
  <a href="https://apps.apple.com/us/app/polar-flow/id717172678">IOS</a>,
  as well as on
  <a href="https://flow.polar.com/start">Windows and OS X</a>.
  You can view your data on the app itself or using the
  <a href="https://flow.polar.com">web interface</a>.
</p>

<p>
  When you have set up the device and created a Polar Flow account,
  <ul>
    <li> <a href="/authorize">click here</a> to authorize the study to
    access the information required for the study.</li>
  </ul>
</p>
{% endblock %}
