{% extends 'base.html' %}

<h4><a href="/">Back to the Main Page</a></h4>

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <table class="form"> <tbody>
    {% for field in form.visible_fields %}
      <tr>
      <th>
        {{ field.label }}:
      </th>
      <td>
        {% if field.errors %}
          <p class="text-danger">{{ field.errors.as_text }}</p>
        {% endif %}
        {{ field }}
        </br>
        {{ field.help_text }}
      </td>
      <tr>
    {% endfor %}
    </tbody></table>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <p class="my-4">
    Forgot your password? <a href="{% url 'password_reset' %}">Reset your Password</a>
  </p>
{% endblock %}
