{% extends 'base.html' %}

{% block content %}

<h4><a href="/">Back to the Main Page</a></h4>

  <form method="post">
    {% csrf_token %}
    <table class="form"> <tbody>
    {% for field in form.visible_fields %}
      <tr>
      <td>
        {% if field.errors %}
          <p class="text-danger">{{ field.errors.as_text }}</p>
        {% endif %}
        <p> {{ field }} I have read and understood the privacy statement. </p>
      </td>
      </tr>
    {% endfor %}
    <tr>
      <td>
      <button class="btn-primary btn" type="submit">Submit</button>
      </td>
    </tr>
  </tbody></table>
  </form>

{% endblock %}
