{% extends 'base.html' %}

<h4><a href="/">Back to the Main Page</a></h4>

{% block content %}
  <h2>Remove authorization</h2>
  <p>
    You are about remove yourself from the study and rescind our authorization
    to collect your data for the study.
  </p>
  <p>
    Please remember that you need to <b>return your fitness tracker</b> if we
    have sent you one.
  </p>
  <form method="post">
    {% csrf_token %}
    <table class="form"> <tbody>
    {% for field in form.visible_fields %}
      <tr>
      <th class="py-1 px-2">
        {{ field.label }}{% if field.field.required %} * {% endif %}:
      </th>
      <td class="py-1">
        {% if field.errors %}
          <p class="text-danger">{{ field.errors.as_text }}</p>
        {% endif %}
        {{ field }}
        </br>
        {{ field.help_text }}
      </td>
      </tr>
    {% endfor %}
    <tr>
      <th></th>
      <td>
        <button class="btn btn-primary" type="submit">Submit</button>
      </td>
    </tr>
    </tbody></table>
  </form>
{% endblock %}
